@model IEnumerable<mblyakher_bugtracker.Models.CodeFirst.Project>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
</head>

<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Projects List</h2>
    </div>
</header>
<div class="container-fluid">
    <div class="row bg-white has-shadow" style="margin-top:25px; margin-bottom:25px;">
        <div class="col-lg-12" style="padding:10px;">
            @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
            {
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
            }
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="myTable" style="width:100%;" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Created)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Updated)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    Created By
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Users)
                                </th>
                                <th>
                                    Project Manager
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Created)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Updated)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AuthorId)
                                    </td>
                                    <td>
                                        @foreach (var user in item.Users)
                                        {
                                            <div>
                                                @user.FullName
                                            </div>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AssignedTo.FullName)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                        @Html.ActionLink("Create a Ticket", "Create", "Tickets", new { id = item.Id }, null) |
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <div>
                                                @Html.ActionLink("Assign Users", "ProjectUser", "Projects", new { id = item.Id }, null) |
                                            </div>
                                        }
                                        @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                                        {
                                            <div style="font-size:0.75em;">
                                                @Html.ActionLink("Edit/Assign PM", "Edit", new { id = item.Id }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

    $(document).ready(function () {
        $(".table").DataTable();
    });
</script>


 @*<p>Make a foreach loop in this style for all the projects and tickets</p>
<section class="projects no-padding-top">
    <div class="container-fluid">
        <!-- Project-->
        <div class="project">
            <div class="row bg-white has-shadow">
                <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                        <div class="image has-shadow"><img src="~/Assets/img/project-1.jpg" alt="..." class="img-fluid"></div>
                        <div class="text">
                            <h3 class="h4">Project Title</h3><small>Lorem Ipsum Dolor</small>
                        </div>
                    </div>
                    <div class="project-date"><span class="hidden-sm-down">Today at 4:24 AM</span></div>
                </div>
                <div class="right-col col-lg-6 d-flex align-items-center">
                    <div class="time"><i class="fa fa-clock-o"></i>12:00 PM </div>
                    <div class="comments"><i class="fa fa-comment-o"></i>20</div>
                    <div class="project-progress">
                        <div class="progress">
                            <div role="progressbar" style="width: 45%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
